<section class="orders-show">

  <header class="page-header">

  </header>

  <div class="order-summary jumbotron">
    <h4>Thank you for your order!</h4>
  </div>

  <div class="order-details">
    <h3>Order Details</h3>

    <table class="table table-striped">
      <thead>
        <tr>
          <th>Product</th>
          <th>Quantity</th>
          <th>Price</th>
        </tr>

      </thead>

      <tbody>
      
 
      </tbody>

      <tfoot>
        <tr>
          <td colspan="2">Total</td>
          <td><%= humanized_money_with_symbol @order.total %></td>
        </tr>
      </tfoot>
    </table>
  


  <%= link_to "Continue Shopping", root_path, class: 'btn btn-lg btn-primary' %>

</section>
